<mat-drawer-container id="app-layout-container">
  <!-- SideNav -->
  <mat-drawer
    #drawer
    mode="over"
    hasBackdrop="true"
    class="sidenav-menu-container"
  >
    <side-bar
      (onLoginClick)="openLoginModal()"
      (onCloseSideBar)="toggleSideNav()"
    ></side-bar>
  </mat-drawer>
  <!-- END SideNav -->
  <!-- Main -->
  <section class="app-content-wrapper">
    <!-- Header -->
    <header>
      <nav-bar
        (onSideNavClick)="toggleSideNav()"
        (onLoginClick)="openLoginModal()"
        (onMenuItemClick)="handleMenuItemClick($event)"
        (onLogoutClick)="handleLogoutClick()"
        (onCartClick)="handleCartClick()"
      ></nav-bar>
    </header>
    <!-- END Header -->
    <!-- Main -->
    <!-- <auth-dialog></auth-dialog> -->
    <main class="app-main-wrapper">
      <loader *ngIf="navigating"></loader>
      <router-outlet class="app-main-wrapper"></router-outlet>
    </main>
    <!-- END Main -->

    <!-- Footer -->
    <footer>
      <footer-bar></footer-bar>
    </footer>
    <!-- END Footer -->
  </section>
  <!-- End Main -->
</mat-drawer-container>
