<mat-drawer-container id="app-layout-container">
  <!-- SideNav -->
  <mat-drawer
    #drawer
    mode="over"
    hasBackdrop="true"
    class="sidenav-menu-container"
  >
    <side-bar></side-bar>
  </mat-drawer>
  <!-- END SideNav -->
  <!-- Main -->
  <section class="app-content-wrapper">
    <!-- Header -->
    <header>
      <nav-bar
        (onSideNavClick)="toggleSideNav()"
        (onLoginClick)="openLoginModal()"
      ></nav-bar>
    </header>
    <!-- END Header -->
    <!-- Main -->
    <!-- <auth-dialog></auth-dialog> -->
    <main>
      <loader *ngIf="navigating"></loader>
      <router-outlet [hidden]="navigating"></router-outlet>
    </main>
    <!-- END Main -->

    <!-- Footer -->
    <footer>
      <mat-card>
        <mat-card-title>Footer </mat-card-title>
        <mat-card-subtitle>Footer Links</mat-card-subtitle>
      </mat-card>
    </footer>
    <!-- END Footer -->
  </section>
  <!-- End Main -->
</mat-drawer-container>
