<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row">
    <h2>Taller Web 2</h2>
  </div>
  <div fxLayout="row" fxHide fxShow.gt-sm>
    <button mat-button (click)="handleMenuItemClick('home')">Home</button>
    <button mat-button (click)="handleMenuItemClick('productos')">Productos</button>
    <button mat-button (click)="handleMenuItemClick('carrito')">Carrito</button>
  </div>
  <div fxLayout="row" fxHide fxShow.gt-sm>
    <button
      *ngIf="!user"
      mat-raised-button
      color="primary"
      (click)="handleLoginClick()"
    >
      Ingresar
    </button>
    <a *ngIf="user" mat-button>Bienvenido {{ user?.firstName }}!</a>
  </div>
  <div fxLayout="row" fxShow fxHide.gt-sm>
    <button mat-icon-button (click)="handleSideNavClick()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
