// https://medium.datadriveninvestor.com/custom-theming-in-angular-material-a9b0d7cd68a8

// $primary-palette: (
//   Main: blue,
//   Light: white,
//   Dark: black,
//   contrast: (
//     Main: white,
//     Light: black,
//     Dark: black,
//   ),
// );

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

$headline-typography: mat-typography-config(
  $headline: mat-typography-level(34px, 48px, 400),
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($headline-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Taller-primary: mat-palette($mat-indigo);
// $SubCon-primary: mat-palette($primary-palette, Main, Light, Dark);

$Taller-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Taller-warn: mat-palette($mat-red);

$primary: map-get($Taller-primary, default);
$warning: map-get($Taller-warn, default);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$SubCon-theme: mat-light-theme(
  (
    color: (
      primary: $Taller-primary,
      accent: $Taller-accent,
      warn: $Taller-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($SubCon-theme);

@import "./components/index";

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#app-layout-container {
  height: 100%;
  min-height: 100%;
}

.app-content-wrapper {
  min-height: 100%;
  height: 100%;
}

.app-main-wrapper {
  min-height: 75%;  
}

.brand-logo {
  max-width: 100px;
  max-height: 70px;

  img {
    max-width: 100%;
  }
}

.sidenav-menu-container {
  padding: 1.5em;
  width: 50%;
}

.sidenav-menu {
  padding: 1.5em;
  min-height: 100%;
}

.mat-button-block {
  width: 100%;
}

// margins

.mt-3 {
  margin-top: 1.5em;
}

.mt-4 {
  margin-top: 2em;
}

// paddings

.p-1 {
  padding: 0.5em;
}

.center {
  text-align: center;
}

.w-32 {
  width: 32%;
}

.notification-error {
  background: $warning;
  color: white;
}

.notification-success {
  background: green;
  color: white;
}

.clickable {
  cursor: pointer;
}


.img-thumbnails{
  width: 80% !important;
}

.gallery{
  display: grid !important;
  gap: 1rem !important;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 16rem), 1fr)) !important;
}

.title-small{
  font-size: 16px !important;
}

.price{
  font-size: 20px !important;
  color: $primary !important;
}

.tooltip-black {
  background: black;
  font-size: 12px;
}
.tooltip-red{
  background: red;
  opacity: 0.75;
}