
<mat-card pageContainer>
  
    <mat-card-title>Historial de compras</mat-card-title>
    
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="space-between">
          <mat-card *ngFor="let product of products">
            <mat-card-title> {{ product.name }} </mat-card-title> 
            <mat-card-subtitle> {{ product.description }}</mat-card-subtitle>
            <mat-card-content> ${{ product.price }} </mat-card-content>
          </mat-card>
      </div>
    </mat-card-content>
    
  </mat-card>

