body {
    background: #eee
}

.product-image {
    width: 100%
}

.dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block
}

.spec-1 {
    color: #938787;
    font-size: 15px
}

h5 {
    font-weight: 400
}

.titulo {
    font-size: 30px;
}

.entregado{
    color: #938787;
    font-size: 20px;
    font-weight: 450;
    margin-top: 15px;
    margin-bottom: 5%;
}

.prodTitulo{
    color: rgb(60, 103, 233);
    font-size: 18px;
}

.para {
    font-size: 16px
}

.button-detail {
    margin-bottom: 2%;
}

.bold-text {
    font-weight: 700;
}
.contenedor-botones{
    display: inline-flex;
align-items: flex-end;
flex-direction: row;

}

.container-img {
    display: inline-flex; 
    align-items: center;
}
.button-detail {
    align-self: auto;
    width: 35%;
}

.contenedor-buton {
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
}

.button-margin {
    margin-right: 4%;
}

@media (max-width: 768px) {
    .button-detail {
        
        width: 100%;
    }
    
.contenedor-buton {
    display: block;
    
}}

.btn-custom {
    background-color: #1D48FF;
    color: white;
}

.titulo-orden {
    font-weight: 700;
    font-size: 18px;
}

.contenedor-img-detalle {
    max-width: 150px;
    max-height: 150px;
}

::ng-deep .card {
    margin-bottom: 20px;

  }
 
  .card-header {
background-color: #d5e7f0;
  }

  .font-weight-medium {
      font-weight: 600;
  }

  @media (max-width: 992px) {

    .contenedor-img-detalle {
        max-height: 90px !important;
    }
    
   }
   @media (max-width: 768px) {

    .contenedor-productos {
       justify-content: center !important;
    }
    .contenedor-precio h3, .contenedor-precio p {
        margin-left: 0px !important;
    }
    .textos {
        text-align: center;
    }
    .contenedor-img-detalle {
        margin-bottom: 10px;
    }
    .total-price {
        justify-content: center !important;
    }
   }
