<!-- <mat-card pageContainer>
  <mat-card-title>Home </mat-card-title>

  <mat-card-subtitle>Bienvenidos a la Home!.</mat-card-subtitle>

  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="center">
      <mat-card *ngFor="let product of products">
        <mat-card-title> {{ product.name }} </mat-card-title>
        <mat-card-subtitle> {{ product.description }}</mat-card-subtitle>
        <mat-card-content> </mat-card-content>
      </mat-card>
      <mat-card *ngIf="productById">
        <mat-card-title> {{ productById.name }} </mat-card-title>
        <mat-card-subtitle> {{ productById.description }}</mat-card-subtitle>
        <mat-card-content> </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>
 -->

<!-- <page-header text="Home" icon="home"></page-header> -->

<header fxLayout="column" fxLayoutAlign="center center" class="home-header">
  <div class="home-header-section">
    <div class="home-header-headline">
      <h1 class="home-h1">Taller Web 2</h1>
      <h2 class="home-h2">E-Commerce de la UNLaM creado en Angular.</h2>
    </div>
    <button mat-button mat-raised-button (click)="handleProductClick()">Ver Productos</button>
  </div>
</header>

<main class="mt-3">
  <h1 class="mat-h1 center">Conoce nuestras facilidades</h1>
  <article fxLayout="row" fxLayoutAlign="center">
    <div class="w-32 p-1">
      <h2>Servicio</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>

    <div class="w-32 p-1">
      <h2>Logistica</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>
  </article>
  <article fxLayout="row" fxLayoutAlign="center">
    <div class="w-32 p-1">
      <h2>Agilidad</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>

    <div class="w-32 p-1">
      <h2>Devoluciones</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>
  </article>
</main>
